body{
  font-family: monospace;
  font-size: 1.35em;
}
#nameInput{
  height: 30px;
  width:300px;
  border-radius: 5px;
}
#depositInput{
  height: 30px;
  width:300px;
  border-radius: 5px;
}
#content, #playMoney, #game{
  display: none;
}
ul{
  list-style: none;

}
li{
  line-height: 20%;
  margin: 10px 0;
  padding:1.5%;
}
#contentDiv{
  background-color: #bab5b5;
  padding: 30px;
  width:60%;
  height:200px;
  margin-left: 20%;
  padding-left: 10%;
  margin-top:15%;

}
#status{
  padding-bottom: 3%;
}


input[type=button]{
  background-color: #04567890;
  color: white;
  padding: 5px;
  margin: 8px 0;
  /*border:1px dashed #3f9876;*/
  border-radius: 8px
  width:100px;
  height: 40px;
  font-family: monospace;
  /*text-shadow: unset;*/


}
#clickHere{
  display: none;
}

a{
  text-decoration: underline;
  display: inline-block;
  color: white;
}
